:root {
  --active: #DE3E1F;
  --text: #2F2F2F;
  --background: #fff;

  --dark-active: #b13118;

  --secundary-text: #4b4b50;
  --secundary-background: #F9F5F3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  outline-color: var(--dark-active);
  outline-offset: 8px;

  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
  background: var(--background);
}

body, input, button {
  font: 1.6rem "Montserrat", sans-serif;
  color: var(--text);
}

body {
  padding: 0 32px;

  min-height: 100vh;
  overflow-x: hidden;
}

input {
  height: 54px;
  padding: 0 16px;

  border: 1px solid var(--active);
  transition: border 0.2s ease-in;
}

input:focus {
  border-color: var(--dark-active);
}

button {
  height: 54px;

  background: var(--active);
  color: var(--background);
  cursor: pointer;
  
  border: 0;
  padding: 0 16px;
  transition: background 0.2s ease-in;
}

button:hover {
  background: var(--dark-active);
}

input, 
button {
  font-weight: 500;
}

header {
  position: absolute;
  padding: 32px 0;
  height: 40px;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: auto;
}

/* SEARCH STYLES */

.search { 
  display: flex;
  justify-content: space-between;
  position: relative;

  padding: 80px 32px;
  padding-top: calc(80px + 107px);
}

.search::before,
.search::after {
  content: url("/assets/background/shape-1.svg");
  position: absolute;

  top: 0px;
  z-index: -1;
}


.search::before {
  right: -32px;
}

.search::after {
  transform: rotate(180deg);
  left: calc(100% + 32px);
  top: -4px;
}

.search div.title {
  flex: 55;
}

.search div.title span {
  color: var(--active);
  font-weight: 500;
}

.search div.title h1 {
  max-width: 410px;
  padding-right: 32px;

  font-weight: 500;
  font-size: 4.8rem;
  line-height: 150%;
  margin-top: 8px;
}

.search form {
  flex: 45;

  margin-left: auto;
  padding-right: 50px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search form input {
  width: 100%;
  max-width: 450px;
  margin-top: 32px;
}

.search form div {
  display: flex;
  align-items: center;
  max-width: 450px;
}

.search form div input:first-of-type {
  flex: 50;
}

.search form div input:not(:first-of-type) {
  flex: 25;
  margin-left: 16px;
  padding-right: 8px;
}

.search form button {
  display: flex;
  align-items: center;

  margin-top: 56px;
}

.search form button img {
  margin-left: 16px;
}

/* Places STYLES */

.places {
  position: relative;
  padding: 80px 0;
}

.places::before,
.places::after {
  content: '';
  position: absolute;

  left: -32px;
  transform: translateX(-50%);

  z-index: -1;
}

.places::before {
  background: var(--secundary-background);
  width: 220px;
  height: calc(100% + 112px);

  top: 0;
}

.places::after {
  border: 110px solid transparent;
  border-bottom: 240px solid var(--secundary-background);

  bottom: 100%;
}

.places ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 80px;
  
  position: relative;
  max-width: 950px;
  margin: auto;
}

.places ul::before {
  content: '';
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background: url("/assets/background/shape-2.svg") center no-repeat;
  background-size: contain;

  width: 100%;
  height: 71%;

  z-index: -1;
}

.places ul li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  border: 2px solid var(--active);
  background: var(--background);
}

.image-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
}

.image-wrapper img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  
  top: 0;
}

.places div:last-of-type {
  padding: 16px;
}

.places div span {
  display: block;
  font-size: 1.4rem;
  margin: 8px 0;
  color: var(--secundary-text);
}

.places div h1 {
  font-size: 1.6rem;
  margin-bottom: 16px;
}

.places div strong {
  font-size: 1.8rem;
  color: var(--active);
}

/* PAGINATION STYLES */

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 80px;
}

.pagination button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 32px;

  background: var(--background);
  color: var(--text);
  padding: 0;
}

.next-button {
  transition: color 0.2s ease-in;
}

.next-button:first-of-type {
  margin-right: 6px;
  padding-right: 8px;
}

.next-button:last-of-type {
  margin-left: 6px;
  padding-left: 8px;
}

.next-button:first-of-type img {
  margin-right: 8px;
}

.next-button:last-of-type img {
  margin-left: 8px;
}

.next-button:hover {
  color: var(--active);
}

.page-button {
  width: 32px;
  margin: 0 4px;

  color: var(--secundary-text);
  border: 1px solid var(--secundary-text);
  transition: transform 0.2s ease-in;
}

.page-button:hover {
  transform: scale(1.2);
}

#current-page {
  color: var(--active);
  border-color: var(--active);
  pointer-events: none;
  opacity: 1;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.display-none {
  display: none;
}